/* SELECTOR PADRE */
:root {
    --color-primario: #010A65;
    --color-secundario: #FF6B00;
    --color-terceario: #0F86E3;
    --color-parrafos: #323537;
    --color-titulos: #010A65;
    --color-enlaces: #fff;
    --color-sombras: #282D31;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* SELECTOR UNIVERSAL */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SELECTOR DE CLASE */
.boton-whatsapp {
    position: fixed;
    bottom: 1em;
    left: 1em;
    font-size: 2.5em;
    background-color: #4dc247;
    padding: .5em .6em;
    border-radius: 100%;
    line-height: 1em;
    color: #fff;
    z-index: var(--z-fixed);
}

.boton-whatsapp:hover {
    color: #fff;
    background-color: #35ad32;
}

/* INICIO DE MENÚ */
header {
    background-color: #010A65;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-modal);
    box-shadow: 0 0 4px var(--color-sombras);
    padding: 0.5em 0;
}

.menu {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-size: 1em;
}

.img-logo {
    height: 3em;
}

.btn-menu {
    text-decoration: none;
    margin-top: 5px;
}

.icono-menu {
    display: none;
}

.enlaces a {
    color: var(--color-enlaces);
    text-decoration: none;
    padding: .5em;
    font-size: .9em;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

@media screen and (max-width: 1023px) {
    .menu {
        flex-direction: column;
        margin-top: .5em;
    }
    .icono-menu {
        display: block;
        color: var(--color-enlaces);
        font-size: 2em;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .enlaces {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* FIN DE MENÚ */

/* SELECTOR DE ETIQUETA */
label {
    font-family: 'Roboto';
    color: var(--color-primario);
    font-weight: 600;
}

textarea {
    width: 100%;
    border: 1px solid var(--color-primario);
    min-height: 150px;
    max-height: 200px;
    border-radius: .2em;
    background-color: #fcfcfc;
    padding: .3em;
}

/* INICIO DE BANNER */
.main-contacto {
    position: relative;
    top: 64px;
    padding: 12em 12em;
}



/* INICIO CONTACTO */
.contacto-titulo {
    font-family: 'Montserrat';
    color: var(--color-titulos);
    font-weight: 700;
    text-align: center;
}

.contacto {
    /* align-self: center; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacto h1{
    font-family: 'Montserrat';
    color: var(--color-titulos);
    font-weight: 700;
    font-size: 2em;
}

.contacto h2 {
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 300;
}

.contacto p {
    font-family: 'Roboto';
    font-size: .8em;
    color: var(--color-parrafos);
}

.contacto-flex {
    display: flex;
    gap: .3em 1.5em;
    flex-wrap: wrap;
}

.contacto-flex a {
    text-decoration: none;
    color: var(--color-parrafos);
    font-size: .9em;
}

.contacto-flex a:hover {
    color: var(--color-secundario);
    transition: color .2s ease-in-out;
}

.contacto-input {
    width: 100%;
    padding: .3em;
    border: 1px solid var(--color-primario);
    margin-bottom: 1.2em;
    border-radius: .2em;
    font-family: 'Roboto';
    background-color: #fcfcfc;
}

.boton-contacto {
    background-color: var(--color-secundario);
    color: #fff;
    font-weight: bold;
    padding: .4em;
    margin-top: .5em;
    border-radius: .5em;
}

.boton-contacto:hover {
    background-color: var(--color-primario);
    transition: background-color .5s ease-in-out;
}

/* FIN CONTACTO */


/* INICIO DE FOOTER */
.main-footer {
    background-color: var(--color-primario);
    padding: 2em 10em;
}

.footer-grid {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer-img img{
    padding: 1em;
}

.footer-content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.footer-titulo {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    font-size: 1.3em;
}

.footer-enlace {
    font-family: 'Roboto';
    text-decoration: none;
    color: var(--color-enlaces);
}

.footer-enlace:hover {
    color: var(--color-secundario);
    transition: color .2s ease-in-out;
}

.redes-flex {
    display: flex;
    gap: 15px;
}

.footer-redes {
    color: var(--color-enlaces);
}

.footer-redes:hover {
    color: var(--color-secundario);
    transition: color .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .main-footer {
        padding: 2em 3em;
    }    
    .footer-titulo {
        font-size: 1.2em;
    }
    .footer-parrafo {
        font-size: .8em;
    }
}

@media screen and (max-width: 560px) {
    .footer-content {
        text-align: center;
    }
    .footer-img {
        text-align: center;
    }
    .redes-flex {
        align-self: center;
    }
}

.derechos {
    padding-top: 2em;
}

.derechos h1{
    color: #fff;
    font-size: .6em;
    text-align: center;
}
/* FIN DE FOOTER */